entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Week1"

[[workflows.workflow]]
name = "Run Week1"
author = 40493370
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python Week1.py"
